.dashboard {
	height: 100%;
	background-color: #151b25a2;
	border-radius: 10px;
	display: flex;
}
.servers {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: fit-content;
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.server > img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin-bottom: 15px;
}
.menu {
	padding: 20px;
}
.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.profile > img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-bottom: 15px;
}
