.home {
	width: 100%;
	padding-top: 200px;
	display: flex;
	justify-content: center;
}
.buttons {
	display: flex;
}

.button {
	cursor: pointer;
	padding: 10px 20px;
	background-color: #ff1c5f;
	border: none;
	outline: none;
	border-radius: 10px;
	margin-right: 15px;
	font-size: 18px;
	font-weight: bold;
	transition: 0.5s;
	&:hover {
		color: white;
		transform: scale(1.03);
		transition: 0.5s;
	}
}
.text {
	> h1 {
		margin-bottom: 15px;
	}
	> p {
		margin-bottom: 4px;
		&:last-of-type {
			margin-bottom: 15px;
		}
	}
}
.content-right {
	transform: translateY(-30px);
}
.features {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ff5f5f;
	padding: 20px;
	> .description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		> h1 {
			margin-bottom: 10px;
		}
	}
}
.feature-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.feature {
	padding: 15px 20px;
	background-color: #d67777;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin: 15px;
	> h3 {
		margin-bottom: 8px;
	}
}
